@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

body{
     display: flex;
}

.side-bar{
     width: 300px;
     padding: 20px;
     border-right: 1px solid #e0e0e0;
     height: 100vh;
     background-color: #f8f7f7;
     position: sticky;
     top: 0;
}

.side-list{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 40px 0;
}

.side-list a{
     text-decoration: none;
     font-size: 18px;
     font-weight: 500;
     color: black;
     padding: 10px 20px;
     background: rgba(0, 0, 0, 0.05);
     border-radius:0 5px 5px 0;
}

.side-bar a:hover{
     border-left: 2px solid rgba(0, 0, 0, 0.6);
     
}

nav{
     background-color: white;
     display: flex;
     gap: 20px;
     justify-content: space-between;
     z-index: 999;
     padding: 10px 20px;
     align-items: center;
     position: sticky;
     top: 0;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


nav div{
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: space-between;
     width: 95%;
     margin: auto;
}

nav ul{
     list-style: none;
     display: flex;
     align-items: center;
     gap: 20px;
}

.nav-bar img{
     width: 40px;
}

nav a{
     text-decoration: none;
     font-size: 18px;
     font-weight: 500;
}

.outline-btn:hover{
     background-color: black !important;
     color: white;
}

.outline-btn{
     border: 1px solid black;
     border-radius: 5px;
     padding: 10px 20px;
     background-color: transparent !important;
     color: black;
     font-weight: 600;
     font-size: medium;
     cursor: pointer;
     transition: all;
     transition-duration: 300ms;
}    

.btn{
     border: 1px solid black;
     border-radius: 5px;
     padding: 10px 20px;
     background-color: black !important;
     color: white;
     font-weight: 600;
     font-size: medium;
     cursor: pointer;
     width: 100%;
}