.job-list{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 40px;
     padding: 20px 0;
}

.custom-select{
     position: relative;
     padding: 10px;
     border: 1px solid gray;
     border-radius: 5px;
     width: fit-content;
     font-size: medium;
}

.job-card{
     padding-top: 20px;
     border: 1px solid #e0e0e0;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.job-card-review{
     border-top: 1px solid #e0e0e0;
     padding: 10px 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.job-detail{
     height: 100vh;
     width: 100%;
     max-width: 500px;
     position: fixed;
     right: 0;
     top: 0;
     background: #fff;
     transition-duration: 300ms;
     overflow: hidden;
     border-left: 1px solid #e0e0e0;
}

.show-detail{
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px 20px 20px 10px;
     margin: 80px 0 20px 0px;
     text-decoration: underline;
     cursor: pointer;
     color: black;
     border: none;
}


@media only screen and (max-width: 1024px)  {
     
     .job-list{
          grid-template-columns: repeat(3,1fr);
     }
}

@media only screen and (max-width: 764px)  {
     
     .job-list{
          grid-template-columns: repeat(2,1fr);
     }
}

@media only screen and (max-width: 620px)  {
     
     .job-list{
          grid-template-columns: repeat(1,1fr);
     }
}